.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.learningIcon{
    width:80%;
    max-width:250px;
}

.button {
  background-color: rgba(255,255,255,0.4);
  border: 1.5px solid white;
  color: white;
  padding: 15px 32px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover{
    background-color:#1e1e1e;
    color:white;
}

.zoomDiv{
    flex-direction:row;
    flex:wrap;
    display: flex;
}

.zoom{
    transition: transform .5s;
    flex-direction: row;
    width:100px;
}

.zoom2{
    transition: transform .5s;
    width:100px;
}

.zoom3{
    transition: transform .5s;
    flex-direction: row;
    width:100px;
}

.zoom:hover{
    transform: scale(3);
}

.zoom2:hover{
    transform: scale(2);
}

.zoom3:hover{
    transform: scale(1.25);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.titleani{
    animation: title 3s 1;
}

@keyframes title {
    0%{
        margin-bottom: -40px;
    }
    30%{
        letter-spacing:20px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing:8px;
        margin-bottom:-40px;
    }
}


.bluebox{
    width: 80%;
    height: 200px;
    background-color: #0C2D48;
    justify-content:center;
}@media screen and (max-width: 900px){
    .bluebox{
        max-width: 0px;
        height:0px;
        background-color: #0C2D48;
        justify-content:center;
    }
}@media screen and (max-width: 1000px){
   .bluebox{
       min-width: 95%;
       height: 200px;
       background-color: #0C2D48;
       justify-content:center;
   }
}@media screen and (max-width: 1200px){
        .bluebox{
           min-width: 90%;
           height: 200px;
           background-color: #0C2D48;
           justify-content:center;
       }
   }

.gridRow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  height:70vh;
  overflow:scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Create four equal columns that sits next to each other */
.gridColumn {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gridColumn2 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.gridColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
  .gridColumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridColumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 60%;
  }
}

.parallax {
  background-image: url('img/work.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('img/back.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row50{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:25%;
    margin-right:25%;
    max-width:50%;
    width: 50%;
}@media screen and (max-width: 900px){
    .row50{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}@media screen and (max-width: 1200px){
     .row50{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin-left:10%;
         margin-right:10%;
         max-width:80%;
         width: 80%;
     }
 }@media screen and (max-width: 1000px){
       .row50{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-left:5%;
           margin-right:5%;
           max-width:90%;
           width: 90%;
       }
   }

.row70{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:15%;
    margin-right:15%;
    max-width:70%;
    width: 70%;
}@media screen and (max-width: 900px){
    .row70{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}@media screen and (max-width: 1200px){
     .row70{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin-left:10%;
         margin-right:10%;
         max-width:80%;
         width: 80%;
     }
 }@media screen and (max-width: 1000px){
       .row70{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-left:5%;
           margin-right:5%;
           max-width:90%;
           width: 90%;
       }
   }

.row70rev{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-left:15%;
    margin-right:15%;
    max-width:70%;
    width: 70%;
}@media screen and (max-width: 900px){
    .row70rev{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}@media screen and (max-width: 1200px){
     .row70rev{
         display: flex;
         flex-direction: row-reverse;
         flex-wrap: wrap;
         margin-left:10%;
         margin-right:10%;
         max-width:80%;
         width: 80%;
     }
 }@media screen and (max-width: 1000px){
       .row70rev{
           display: flex;
           flex-direction: row-reverse;
           flex-wrap: wrap;
           margin-left:5%;
           margin-right:5%;
           max-width:90%;
           width: 90%;
       }
    }

.whitespace{
    margin-top:150px;
}@media screen and (max-width:1200px){
    .whitespace{
        margin-top:10px;
    }
}

.row80{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:10%;
    margin-right:10%;
    max-width:80%;
    width: 80%;
}@media screen and (min-width: 900px){
    .row80{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}@media screen and (max-width: 1200px){
     .row80{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin-left:10%;
         margin-right:10%;
         max-width:80%;
         width: 80%;
     }
 }@media screen and (max-width: 1000px){
       .row80{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-left:5%;
           margin-right:5%;
           max-width:90%;
           width: 90%;
       }
   }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 900px) {
  .column {
    flex: 1;
  }
}

.column2{
    display:flex;
    flex-direction:column;
    flex: 33%;
    max-width: 33%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(1)
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: minmax(100px, auto);
}@media screen and (max-width: 900px){
    .wrapper{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .three{
        margin-top:100px;
    }
}

.one {
  grid-column: 10 / 13;
  grid-row: 2/4;
}
.two {
  grid-column: 1 / 3;
  grid-row: 6 / 10;
}
.three {
  grid-column: 3/12;
  grid-row: 3 / 7;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 2/4;
}
.six {
  grid-column: 10/13;
  grid-row: 6/9;
}

.imagecontainer {
  position: relative;
  text-align: center;
  color: white;
}
@media screen and (max-width: 900px){
    .imagecontainer{
        height: 0px;
        display: none;
    }
}

.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ff6666;
    background-color: #ff6666;
    font-size: 3rem;
    width: 150px;
    height: 150px;
    transition: transform 1s;
}
.icon-wrapper i {
    color: white;
}
.icon-wrapper:hover {
    transform: rotate(360deg);
}

.circleIcon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
    padding: 30px;
}

.imagecontainer2 {
  position: relative;
  text-align: center;
  color: white;
}
@media screen and (max-width: 800px){
    .imagecontainer2{
        height: 0px;
        margin-top:-50px;
        width:0px;
    }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-color:"black"
}


.App-header {
  background-color: #F5FAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
