.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.learningIcon{
    width:80%;
    max-width:250px;
}

.navBarText{
  margin-right: 40px;
  color:white;
  font-weight:bold;
  transition: transform .5s;
}

.navBarText:hover{
  color:white;
  background-color: black;
}

.button {
  background-color: rgba(255,255,255,0.4);
  border: 1.5px solid white;
  color: white;
  padding: 15px 32px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover{
    background-color:#1e1e1e;
    color:white;
}

.zoomDiv{
    flex-direction:row;
    flex:wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.zoom{
    transition: transform .5s;
    flex-direction: row;
    width:100px;
}

.zoom2{
    transition: transform .5s;
    width:100px;
}

.zoom3{
    transition: transform .5s;
    flex-direction: row;
    width:100px;
}

.zoom:hover{
    transform: scale(3);
}

.zoom2:hover{
    transform: scale(2);
}

.zoom3:hover{
    transform: scale(1.25);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.titleani{
    animation: title 3s 1;
}

@keyframes title {
    0%{
        margin-bottom: -40px;
    }
    30%{
        letter-spacing:20px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing:8px;
        margin-bottom:-40px;
    }
}


.bluebox{
    width: 80%;
    height: 200px;
    background-color: #0C2D48;
    justify-content:center;
}@media screen and (max-width: 900px){
    .bluebox{
        max-width: 0px;
        height:0px;
        background-color: #0C2D48;
        justify-content:center;
    }
}@media screen and (max-width: 1000px){
   .bluebox{
       min-width: 95%;
       height: 200px;
       background-color: #0C2D48;
       justify-content:center;
   }
}@media screen and (max-width: 1200px){
        .bluebox{
           min-width: 90%;
           height: 200px;
           background-color: #0C2D48;
           justify-content:center;
       }
   }

.grid{
    display:flex;
    flex-direction: row;
    flex:3;
    flex-wrap: wrap;
    max-width:80%;
    justify-content: space-evenly;
}
.card-alt{
    text-align: left;
    align-items: center;
    width:32%;
    position:relative;
    margin-top:10px;
}

.card-alt:hover .card-text{
  opacity: 1;
  display:flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  height:100%;
  background-color: rgba(0,0,0, 0.9);
  color:white;
}
.card-text::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.card-text{
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width:100%;
  padding:20px;
  text-align: left;
  position:absolute;
  overflow: hidden;
  background-attachment: fixed;
  justify-content: space-between;
  display:none;
}

@media (min-width:0px) and (max-width:600px){
  .grid{
      flex:1;
      max-width:80%;
  }
  .card-alt{
      width:100%;
  }
}
@media (min-width: 600px) and (max-width: 1024px){
  .grid{
      flex:2;
      max-width:90%;
  }
  .card-alt{
      width:45%;
  }
}

.imageProjects{
  width:80%;
  height:200px;
}

.projectsText{
  font-size:15px;
  color:white;
}

.projectsSmall{
  font-size:11px;
  color:white;
}

.parallax {
  background-image: url('img/work.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('img/back.jpg');
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3{
  background-image: url('img/landscape.jpg');
  height: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  display:flex;
  top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display:flex;
}

.white{
  color:"white";
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center{
  justify-content: center;
  align-items: center;
}

.whitespace{
    margin-top:150px;
}@media screen and (max-width:1200px){
    .whitespace{
        margin-top:10px;
    }
}

.row80{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:10%;
    margin-right:10%;
    max-width:80%;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
}@media screen and (min-width: 900px){
    .row80{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}@media screen and (max-width: 1200px){
     .row80{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin-left:10%;
         margin-right:10%;
         max-width:80%;
         width: 80%;
     }
 }@media screen and (max-width: 1000px){
       .row80{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-left:5%;
           margin-right:5%;
           max-width:90%;
           width: 90%;
       }
   }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0px 10px 0px 10px;
}

.skills{
  height:300vh;
  margin-top:150px;
}

.skillsHeader{
  padding:40px;
  height:80vh;
  text-align:left;
}

.skillsSpace{
  height:40vh;
}

.skillsMain{
  padding:40px;
  height:100vh;
}

.skillsTextSpace{
  height:230vh;
}

@media (min-width:0) and (max-width: 900px){
  .skills{
    height:1250px;
  }

  .skillsTextSpace{
    height:200vh;
  }
  
  .skillsSpace{
    display:none;
  }

  .skillsHeader{
    height:30vh;
  }

  .skillsSpace{
    height:300px;
  }
}

@media screen and (min-width: 900px) {
  .column {
    flex: 1;
  }
}

@media screen and (max-width:900px){
  .parallax3{
    display:none;
  }
}

.column2{
    display:flex;
    flex-direction:column;
    flex: 33%;
    max-width: 33%;
    margin-top:20px;
}

.imagecontainer {
  position: relative;
  text-align: center;
  color: white;
}
@media screen and (max-width: 900px){
    .imagecontainer{
        height: 0px;
        display: none;
    }
}

.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ff6666;
    background-color: #ff6666;
    font-size: 3rem;
    width: 150px;
    height: 150px;
    transition: transform 1s;
    margin-bottom: 20px;
}
.icon-wrapper i {
    color: white;
}
.icon-wrapper:hover {
    transform: rotate(360deg);
}

.circleIcon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
    padding: 30px;
}

.imagecontainer2 {
  position: relative;
  text-align: center;
  color: white;
}

@media screen and (max-width: 800px){
    .imagecontainer2{
        height: 0px;
        margin-top:-50px;
        width:0px;
    }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerText{
  text-align: center;
}

.bottomText{
  position:absolute;
  top:95%;
  left:50%;
  color:white;
  font-style: italic;
  transform: translate(-50%, -50%);
}

.topLeft{
  position:absolute;
  top:30%;
  left:10%;
  text-align: left;
  color:white;
  width:80%;
}

.quote{
  justify-content: center;
  font-style: italic;
  text-align: right;
  font-size:13px;
  width:20%;
}

.title{
  font-size:90px;
  font-weight:bold;
  letter-spacing: 5px;
}

.subtitle{
  font-size:40px;
  color:#FFED8A;
}

.subtitle2{
  font-size:30px;
  color:#EEBC1D;
}

.numbering{
  font-size:30px;
  font-style: italic;
}

.imagePainting{
  width:20%;
  min-width:200px;
}

.imageMain{
  width:80%;
  margin-left:20%;
}

.bodyText{
  font-size:18px;
  color:black;
  font-weight: 550;
}

.experienceText{
  font-size:14px;
  color:black;
  font-weight: 550;
}

.experienceHeader{
  font-size:20px;
  color:black;
  font-weight: 550;
}

.experienceTopSection{
  margin-top:100px;
}

.experienceCard{
  color:black;
  text-align: left;
  padding:3%;
  align-items: center;
}

.subHeader{
  font-size:25px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-top:30px;
}

.projectsCard{
  min-height: 400px;
}

.bodyImportant{
  font-size:20px;
  color:#EEBC1D;
}

.bodyTitle{
  font-size:20px;
}

.bodyName{
  font-size:35px;
  font-weight: bold;
}

.badge{
  padding:5px;
  margin-right:3px;
}

@media (min-width:0px) and (max-width: 600px){
  .title{
    font-size:50px;
    letter-spacing: 3px;
  }

  .subtitle{
    font-size:25px;
  }

  .subtitle2{
    font-size:25px;
  }

  .quote{
    display:none;
  }

  .imageMain{
    display:none;
  }
}

@media (min-width:600px) and (max-width:900px){
  .quote{
    font-size:15px;
    width:100%;
    margin-top:30px;
  }
  .imageMain{
    display:none;
  }
}

